.board{
        
        display: grid;
          grid-gap: 0;
          grid-template-columns: repeat(15, auto);
          grid-template-rows: auto;
          grid-auto-flow: row;
          align-items: strech;
          overflow: hidden;
}

.tiles{
    border: 1px solid;
    aspect-ratio: 1/1;
}